* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  li {
    list-style: none;
  }
  
  .wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .info_sheet {
    width: 70%;
    height: 90vh;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width:420px)
    {
        width : 90%;
    }
    @media screen and (max-height:525px)
    {
      height: 100vh;
    }
  }
  
  h2 {
    color: tomato;
    font-size: 2em;
    cursor : pointer;
  }

  .student
  {
    width: 80%;
    display: none;
    align-items: center;
    flex-direction: column;
  }
  .teacher
  {
    width: 80%;
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  .parent
  {
    width: 80%;
    display: none;
    align-items: center;
    flex-direction: column;
  }

  .info_table
  {
    margin-top: 50px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 0;
    width: 100%;
  }
  .info_table tr
  {
    border: 0;
  }
  .info_table td
  {
    border: 0;
    border-top: 1px solid ;
    border-bottom : 1px solid;
    border-left: 0;
    border-right: 0;
    border-collapse: collapse;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 1em;
    word-break:keep-all;
  }
  .output, .check_output
  {
    display: flex;
    padding-top: 20px;
    background-color: white;
    border: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    align-items: center;
  }
  .output:hover, .check_output:hover
  {
    color: #ffa600;
  }

  .btn_section
  {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    @media screen and (max-width:670px)
    {
        flex-direction: column;
        align-items: center;
    }
  }
  .control_info
  {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    @media screen and (max-width:670px)
    {
        padding-bottom: 15px;
    }
  }
  .control_info:hover
  {
    color: #ffa600;
  }
  .exam_register
  {
    background-color: white;
    border: 0;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 15px;
  }
  .exam_register:hover
  {
    color: #ffa600;
  }

  .exam_output, .word_output
  {
    background-color: white;
    border: 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 15px;
    word-break:keep-all;
    @media screen and (min-width:670px)
    {
        font-size: 1.1rem;
    }
  }
  .btn_section_s
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-top: 15px;
    
    
  }
  .exam_output:hover, .word_output:hover
  {
    color: #ffa600;
  }