/*기본*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
  li {
    list-style: none;
  }
  .wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: tomato;
    font-size: 2em;
    cursor : pointer;
  }
  .inside_wrap {
    width: 98%;
    height: 95%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /*문제관리/등록 선택버튼*/

  .btn_space
  {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-around;
    margin-top: 20%;
  }
  .check_btn
  {
    width: 40%;
    background-color: white;
    border: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .check_btn:hover
  {
    color: #ffa600;
    border-radius: 10px;
    background-color: wheat;
    cursor: pointer;
  }

  /*문제 기본정보 입력 폼*/
  .inside_wrap1 {
    width: 98%;
    height: 95%;
    background: white;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .basic_info
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .insert_tag
  {
    width: 22%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  h3
  {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .insert_tag input
  {
    width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    border: 0;
    text-align: center;
  }
  .insert_tag input[type="text"]::placeholder 
  {
    text-align: center;
  }
  .move_ocr
  {
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffa600;
    background-color: white;
    width: 50%;
    margin-top: 10px;
  }
  .move_ocr:hover
  {
    cursor: pointer;
    background-color: wheat;
  }

  /*지문 문제입력 폼*/
  .question_sub
  {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: row;
    justify-content: space-around;
  }
  .paragraph_area
  {
    width: 48%;
  }
  .paragraph_area textarea
  {
    width: 100%;
    height: 90%;
    resize: none;
    overflow: auto;
    max-height: 80vh;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .paragraph_area textarea::placeholder 
  {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .question_area
  {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
  }
  h4
  {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
  }
  .question_area textarea
  {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    resize: none;
    overflow: auto;
    text-align: center;
    align-items: center;
  }



  /*제출 버튼*/
  .submit
  {
    width: 50%;
    border: 0;
    margin-top: auto;
    margin-bottom: 5px;
  }
  .submit input
  {
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffa600;
    background-color: white;
    width: 100%;
  }
  .submit input:hover
  {
    background-color: wheat;
    cursor: pointer;
  }

  /*등록된 문제들 조회하기.*/
  .inside_wrap2 
  {
    width: 98%;
    height: 95%;
    background: white;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inside_wrap2 > form
  {
    width: 100%;
    height : 10%;
  }
  .basic_info2
  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sel_option
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: pre;
    margin: 5px;
  }
  .sel_option > select
  {
    width: 100%;
    border-radius: 10px;
    border: 0;
  }
  .basic_info2 > input
  {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffa600;
  }
  .basic_info2 > input:hover
  {
    color: #000000;
    background-color: wheat;
    cursor: pointer;
  }
  .question_list
  {
    width: 90%;
    max-height: 40%;
  }
  h1
  {
    font-size: 1.4rem;
    text-align: start;
  }

  /*삭제 수정 버튼*/
  .choice_situation
  {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .choice_btn
  {
    width: 30%;
    border: 0;
    border-radius: 10px;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: #ffa600;
  }
  .choice_btn:hover
  {
    background-color: wheat;
    
  }