# .gitignore

# Ignore the database configuration file
g-exam-back/db/db.js

# Ignore the sessionOption.js file in the db folder
g-exam-back/db/sessionOption.js

# Ignore the .env file
.env

# Ignore the 시험결과_상세정보 folder in the specified absolute path
Users/USER/G-Exam/시험결과_상세정보/
시험결과_상세정보/마스터학생_국어_24-02-29-22-44-22.txt
